<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/asset/reset.css" />
        <link rel="stylesheet" href="/asset/main.css" />
        <link rel="stylesheet" href="/asset/highlight.css" />
        <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-69DTLTFJ7P"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-69DTLTFJ7P');
        </script>
    </head>
    <body>
        <header>
            Blog by <strong>nikic</strong>.
            Find me on <a href="https://github.com/nikic">GitHub</a>,
            <a href="https://stackoverflow.com/users/385378/nikic">StackOverflow</a>
            and <a href="http://twitter.com/nikita_ppv">Twitter</a>.
            Learn more <a href="/aboutMe.html">about me</a>.
        </header>
        <section>
            {{ content }}
        </section>
        <script src="/asset/anchor.js"></script>
        <script>
            anchors.add('h2, h3');
        </script>
    </body>
</html>
