<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/asset/reset.css" />
        <link rel="stylesheet" href="/asset/main.css" />
        <link rel="stylesheet" href="/asset/highlight.css" />
        <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-27300026-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <header>
            Blog by <strong>nikic</strong>.
            Find me on <a href="https://github.com/nikic">GitHub</a>,
            <a href="http://stackoverflow.com/users/385378/nikic">StackOverflow</a>
            and <a href="http://twitter.com/#!/nikita_ppv">Twitter</a>.
            Learn more <a href="/aboutMe.markdown">about me</a>.
        </header>
        <section>
            {{ content }}
        </section>
    </body>
</html>
