---
layout: default
---
<section class="post">
    <header>
        <a href="/" class="backLink">&laquo; Back to article overview.</a>
        <h1>{{ page.title }}</h1>
        <time datetime="{{ page.date | date: '%Y-%m-%d' }}" pubdate>
            {{ page.date | date: '%d. %B %Y' }}
        </time>
        {% if page.translations %}
        <div class="translations">
        Translations: {{ page.translations }}
        </div>
        {% endif %}
    </header>
    <section>
        {{ content }}
    </section>
    <footer>
        <section class="followupActions">
            If you liked this article, you may want to <a href="/">browse my other articles</a> or
            <a href="https://twitter.com/nikita_ppv">follow me on Twitter</a>.
        </section>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'nikic';
            var disqus_url = '{{site.url }}{{ page.url }}';
            var disqus_identifier = '{{ page.url }}';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </footer>
</section>
