---
layout: default
---
{% if page.external_url %}
<meta http-equiv="refresh" content="0;url={{ page.external_url }}" />
{% endif %}
<section class="post">
    <header>
        <a href="/" class="backLink">&laquo; Back to article overview.</a>
        <h1>{{ page.title }}</h1>
        <time datetime="{{ page.date | date: '%Y-%m-%d' }}" pubdate>
            {{ page.date | date: '%d. %B %Y' }}
        </time>
        {% if page.translations %}
        <div class="translations">
        Translations: {{ page.translations }}
        </div>
        {% endif %}
    </header>
    <section>
        {% if page.external_url %}
        This article is published on an external site:
        <a href="{{ page.external_url }}">{{ page.external_url }}</a>
        {% else %}
        {{ content }}
        {% endif %}
    </section>
    <footer>
        <section class="followupActions">
            If you liked this article, you may want to <a href="/">browse my other articles</a> or
            follow me on <a href="https://twitter.com/nikita_ppv">Twitter</a> or
            <a href="https://mastodon.social/@nikic">Mastodon</a>.
        </section>
        <script src="https://giscus.app/client.js"
                data-repo="nikic/nikic.github.com"
                data-repo-id="MDEwOlJlcG9zaXRvcnkyNjIzMDE1"
                data-category="Blog posts"
                data-category-id="DIC_kwDOACgGJ84Cl2x4"
                data-mapping="pathname"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="bottom"
                data-theme="light"
                data-lang="en"
                data-loading="lazy"
                crossorigin="anonymous"
                async>
        </script>
    </footer>
</section>
